.bookingRootContainer {
  /* background-color: red; */
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 57px;
}

.bookingTitle{
  font-family: Calibre, Helvetica, Arial, sans-serif;
  color:rgba(40, 64, 12);
  margin-bottom: 100px;
}

.bookingsContainer {
  /* background-color: royalblue; */
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.oneBooking {
  font-family: Calibre, Helvetica, Arial, sans-serif;
  background-color: rgba(139, 69, 19, 0.673);
  padding: 10px 20px 10px 20px;
  border-radius: 24px;
  margin-bottom: 2%;
}

.noResultsContainer{
  /* background-color: aqua; */
  height: 600px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 167px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(40, 64, 12);
}

.noResultsContainer h2 {
  margin-bottom: 50px;
}