.bookingRootContainer {
  font-family: Calibre, Helvetica, Arial, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 35vh;
}

.bookingForm {
  font-family: Calibre, Helvetica, Arial, sans-serif;
  font-weight: 500;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 25vh;
  padding: 5px;
}
