.bookingRootContainer {
  font-family: Calibre, Helvetica, Arial, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 35vh;
}

.bookingForm {
  font-family: Calibre, Helvetica, Arial, sans-serif;
  font-weight: 500;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 25vh;
  padding: 5px;
}

.noUser {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* border: 3px solid red; */
  width: 10rem;
  font-family: Calibre, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding: 3px 3px;
  margin: 5px;
}

.noUser p {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  /* border: 5px solid blue; */
  padding: 5px;
  font-weight: 200;
}

.noUser a {
  transition: 0.8s;
  padding: 3px;
  width: max-content;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(99, 197, 230);
}

.noUser a:hover {
  background-color: rgb(99, 197, 230);
  color: white;
  border-radius: 12px;
  /* padding: 2px 3px; */
}
