.rootContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  box-sizing: border-box;
  min-height: 100vh;
}

.gardenImage { 
width: 69%;
height: 59vh;
padding: 20px;
margin-top: 5vh;
}

#one {
  height: 100%;
  width: 100%;
  border-radius: 24px;
  margin-top: 13vh;
}

.header{
  margin-top: 10vh;
  margin-bottom: 2vh;
  font-family: Calibre, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  color:rgba(40, 64, 12);
}

.searchComponent {
  position: absolute;
  margin-left: 2.8vw; 
  display: flex;
  width: 80vw;
}

.farmAnimalContainer {
  display: flex;
  justify-content: space-evenly;
  height: 40vh;
  width: 69%;
  margin-top: 21vh;
  margin-bottom: 25vh;
}

.pigs{
  height: 100%;
  width: 50%;
  margin-right: 1%;
}

#cutePigs {
  height: 100%;
  width: 100%;
  border-radius: 24px;
}

#cuteCow {
  height: 100%;
  width: 100%;
  border-radius: 24px;
}

.cow{
  height: 100%;
  width: 50%;
}