.navContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  height: 9vh;
  background-color: rgb(2 196 133);
  font-size: 18px;
  letter-spacing: 0.22px;
  font-family: Calibre, Arial, Helvetica, sans-serif;
  /* padding-bottom: 5px; */
  padding-top: 3px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 100;
}

.farmIconContainer {
margin-right: 2%;
}

.farmIcon {
  max-width: 73px;
}

